* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "RussoOne", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #000;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.wrapper {
  max-width: 1540px;
  margin: auto;
}

.container {
  padding: 0 30px;
  @media (min-width: $screen-m) {
    padding: 0 50px;
  }
}

.d-f {
  display: flex;
}
