// colors
$white: #ffffff;
$black: #0000;
$orange: #e27601;
$orange2: #ee7601;
$bg-blue: #333087;

// fonts
$russoone-font: "RussoOne", Arial, Helvetica, sans-serif;

$h1-font: 400 5.4vw/1.4 $russoone-font;
$h2-l-font: 400 5vw $russoone-font;
$h2-font: 400 4vw $russoone-font;
$h3-font: 400 3.4vw $russoone-font;
$h4-font: 400 2.8vw $russoone-font;
$h5-font: 400 3.85vw $russoone-font;

// screen size break points
$screen-lg: 1025px;
$screen-m: 1024px;
$screen-s: 768px;
$screen-xs: 540px;
